@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F1F6F9;
}
@keyframes custom-bounce {
  30% {
    padding-bottom: 5px;
  }
  40% {
    padding-bottom: 0;
  }
}

.custom-bounce {
  animation: custom-bounce 1.5s linear;
}
.react-datepicker-wrapper{
  width: 100%;
}
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle {
  border-color: #F25430 !important;
  color: #F25430 !important; /* Ваш цвет */
  fill: #F25430 !important; /* Ваш цвет */
}
.react-datepicker-popper .react-datepicker__triangle {
  stroke: #F25430 !important;
}
.react-datepicker__navigation-icon::before{
  border-color: white !important;
}
.react-datepicker__header {
  background-color: #F25430 !important;
  border-bottom: none !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  color: white !important; /* text-gray-700 */
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #F25430 !important; /* bg-red-500 */
  color: white !important;
}

.react-datepicker__day--today {
  border-color: #F25430 !important; /* border-red-500 */
}
.hide-scroll::-webkit-scrollbar {
  display: none;
}
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #9CB1BE;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.custom-checkbox:checked+label::before {
  border-color: #F25430;
  background-color: #F25430;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.parentCheckbox:hover .custom-checkbox+label::before{
  border-color: #F25430;
}